#template {
    visibility: collapse;
}

#updateTemplate {
    visibility: collapse;
}

#editTemplate {
    visibility: collapse;
}

#editTemplate.visible {
    visibility: visible;
}

#addHint {
    visibility: visible;
}

#addHint.hidden {
    visibility: collapse;
}

tr.upToDate {
    background-color: green;
}

tr.nearDue {
    background-color: yellow;
}

tr.due {
    background-color: orange;
}

tr.pastDue {
    background-color: red;
}

tr.wayPastDue {
    background-color: darkred;
}
